<h2 id="page-header">Funding Applications</h2>
		
<div class="section clear-fix">
	
	<% @application_types.each do |application_type| %>
		<%= link_to application_type.full_name, "/applications/"+application_type.short_name, :class=>"callout-link"%>
		<%if application_type.description != ""%>
			<p style="padding-left:"35px;"><%= application_type.description %></p>
		<%else%>
		<%end%>
	<% end %>
</div>